{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "jest/globals": true,
    "browser": true,
    "node": true,
    "react-native/react-native": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ios.jsx", ".android.jsx", ".jsx"]
      }
    }
  },
  "globals": {
    "window": true,
    "__DEV__": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": "off",
    "react-native/no-color-literals": "off",
    "import/order" : ["error", { "newlines-between": "never", "groups": ["builtin", "external","internal", ["sibling", "parent"],"index"]}]
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-native/all",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": [
    "jest",
    "babel",
    "react-native",
    "prettier"
  ]
}
