<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>892583353044-ba7ippbcu1qgoghr46hteu6vlecrb6ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892583353044-ba7ippbcu1qgoghr46hteu6vlecrb6ku</string>
	<key>API_KEY</key>
	<string>AIzaSyDSZp2vUt690O1ImBGDqqta_wCFy0kcj6k</string>
	<key>GCM_SENDER_ID</key>
	<string>892583353044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.embp.rnfirebaseboilerplate</string>
	<key>PROJECT_ID</key>
	<string>embp-rn-firebase-boilerplate</string>
	<key>STORAGE_BUCKET</key>
	<string>embp-rn-firebase-boilerplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892583353044:ios:0b9c3345ff1f9417</string>
	<key>DATABASE_URL</key>
	<string>https://embp-rn-firebase-boilerplate.firebaseio.com</string>
</dict>
</plist>